#info{
    display: inline-flex;
    gap: 24px;
    align-items: center;
    flex-direction: column;
    width: fit-content;
    width: 100%;
}

#info > pre {
    font-size: x-large;
    font-weight: bolder;
}