#welcome-user {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 20px;
}

#welcome-user > * {
    display: inline-block;
}

#welcome-user > h2 {
    font-family: Pacifico;
    font-size: 50px;
}

#welcome-user > h1 {
    font-family: 'Roboto';
    text-decoration: underline;
    font-size: xx-large;
}

.welcome-user-picture {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: 3px solid var(--text-color);
}

#user-id {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}