footer {
    position: relative;
    bottom: 0;

    width: 100%;

    padding-bottom: 2.5vh;
    padding-top: 2.5vh;

    z-index: 989;

    background: linear-gradient(var(--background-color-transparent), var(--main-color));

    display: flex;
    gap: 16px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;

    user-select: none;
}

footer>div>nav>a,
footer>div>nav>p {
    margin: 5px;
    text-decoration: none;
}

footer>nav,
footer>div>nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-end;
    align-content: center;
    flex-direction: row;
}

footer>nav>a,
footer>div>nav>a {
    padding: 8px;
    transform: translateY(20%);
}

.view-stats {
    text-align: center;
    padding-top: 10px;
}

.view-stats p {
    margin: 4px 0;
}

.view-stats strong {
    color: var(--second-hover);
}

.view-stats-title {
    text-decoration: underline;
}


.render-time,
.render-weight {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
}

.render-timer-num,
.render-weight-num {
    font-weight: bold;
}

.render-time-ms,
.render-weight-ko {
    color: var(--link-color);
}

.render-low-ms {
    color: red !important;
}