article>div{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
}

article>div>img,
article>div>div>img{
    background-color: transparent;
    background: transparent;
    max-width: 200px;
    max-height: 200px;
}

.gallery{
    flex-direction: row;
    margin-top: 5%;
}

.gallery > div {
    padding-left: 5px;
    padding-right: 5px;
}